

@media screen and (min-width: 431px) and (max-width: 650px) {
    .portfolio_presentation {               
        vertical-align: middle;          
        font-size: small;        
        text-align: justify;        
    }
}
@media screen and (max-width: 430px) {
    .portfolio_presentation {        
        font-size: 11px;
        justify-content: flex-start;
        text-align: left;
    }
}