.discipline-card_container {

}

.discipline-card_title {

}

.discipline-card_content {

}

.discipline-card_box {
    display: flex;
    flex-direction: column;    
    text-align: center;
    font-weight: bold;
}

img {    
    border: 0px solid rgb(0, 0, 0);    
    height: 200px;
    width: 200px;  
    border-radius: 20px;
    transition: all 100ms ease-in-out;    
}