<div class="container_menu-bar"> 
    <div class="menu-bar_menu-icons">
        <a [routerLink]="['']">{{ tabLeft }}</a>
    </div>      
    <ul class="menu-bar_options">
        <li><a href="#">{{ tabMiddle1 }}</a></li>
        <li><span>•</span></li>
        <li><a href="#">{{ tabMiddle2 }}</a></li>
        <li><span>•</span></li>
        <li> <a [routerLink]="['portfolio']">{{ tabMiddle3 }}</a></li>
        <li><span>•</span></li>
        <li><a href="#">{{ tabMiddle4 }}</a></li>
    </ul>
    <div class="menu-bar_contacts">
        <a href="#">{{ tabRight }}</a>
    </div>   
</div>

